* {
  font-family: "Roboto", sans-serif;
}

html {
  background: linear-gradient(341deg, #22c1c3 0%, #fdbb2d 100%);
  height: 100%;
}

h1 {
  text-align: center;
  color: white;
}

nav {
  background-color: rgb(39, 36, 36);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 95%;
  margin:auto;
  justify-content: space-around;
  align-items: center;
  height: 3em;
  /* padding: 0.5em; */
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: black;
  height: 3em;
}

main {
  background-color: rgb(39, 36, 36);
  border-radius: 10px;
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
}

div {
  justify-content: center;
}

.accueil {
  max-width: 800px;
}

.game,
#grille {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.case {
  background: linear-gradient(341deg, #22c1c3 0%, #fdbb2d 100%);
}

.case img {
  width: 95%;
}

.game {
  max-width: 600px;
  margin: auto;
}

.game img {
  width: 95%;
}

.flipped {
  pointer-events: none;
}

.rotate {
  transform: rotateY(180deg);
  transition: all 0.3s ease-out;
  transform-style: preserve-3d;
}

.unrotate {
  transform: rotateY(360deg);
  transition: all 0.3s ease-out;
}

.play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.messages {
  margin: 1em;
}

.message,.count,.win{
  margin:1em;
}

h3 {
  margin: 0.5em;
}

#theme {
  border-radius: 5px;
}

.formR {
  display: flex;
  flex-direction: column;
}


.precision{
  font-size: 0.8em;
}

button{
  background-color: rgb(228, 236, 199);
  border-radius: 10px;
  padding:0.5em;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

.register{
  max-width: 800px;
}

input{
  background-color: rgb(39, 36, 36);
  border:none;
  width: 100%;
  color : yellow;
  font-size: 16px;
}

.formR h2{
  text-align: center;
}

.formR div{
  padding:0.5em
}

.errMailP,.errNameP,.errMdpP,.errConfMdpP{
  color: rgb(202, 51, 76)
}

.input{
  display: flex;
}

.formR img{
  width:20px;
}

.hidden{
visibility: hidden;
}

.curseur{
  display: flex;
  justify-content: center;
  gap:10px
  
}

.faible,.moyen,.fort{
  border-top: 5px solid rgb(196, 123, 13);
  border-radius: 3px;
  width:100px;
  text-align: center;
}

.moyen{
  border-color: yellow;
}

.fort{
  border-color: rgb(6, 206, 6);
}

.curseur.hidden{
  display:none;
}